LOG_DIR={{ log_dir }}
LOG_LEVEL=INFO

SECRET_KEY={{ lookup('community.general.random_string', length=32, special=False) }}

POSTGRES_SERVER=localhost:5432
POSTGRES_USER=ipsize
POSTGRES_PASSWORD={{ lookup('community.general.random_string', length=32, special=False) }}
POSTGRES_DB=ipsize

DOWNLOAD_DIR={{ data_dir }}/ipsize/download
