[Unit]
Description=IPSize Control Server
Requires=ipsize-control.socket
After=network.target

[Service]
Type=notify
User=ipsize
Group=ipsize
SyslogIdentifier=IPSize-Control
WorkingDirectory={{ install_dir }}
Environment="PATH={{ install_dir }}/.venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ install_dir }}/.venv/bin/gunicorn ipsize.control.main:app --workers 1 --worker-class uvicorn.workers.UvicornWorker --graceful-timeout {{ service_timeout }} --bind=unix:{{ socket_path }}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec={{ service_timeout }}
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
