[Unit]
Description=IPSize Monitoring
After=network.target redis-server.service

[Service]
Type=simple
User=ipsize
Group=ipsize
SyslogIdentifier=IPSize-Monitor
Restart=always
WorkingDirectory={{ install_dir }}
Environment="PATH={{ install_dir }}/.venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONPATH={{ install_dir }}:{{ install_dir }}/ipsize"
ExecStart={{ install_dir }}/.venv/bin/python ipsize/perf/main.py

[Install]
WantedBy=multi-user.target
