[Unit]
Description=IPSize Probe Server
Requires=ipsize-probe.socket
After=network.target redis-server.service

[Service]
Type=notify
User=root
Group=root
SyslogIdentifier=IPSize-Probe
WorkingDirectory={{ install_dir }}
Environment="PATH={{ install_dir }}/.venv/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin"
ExecStart={{ install_dir }}/.venv/bin/gunicorn ipsize.probe.main:app --workers 1 --worker-class uvicorn.workers.UvicornWorker --graceful-timeout {{ service_timeout }} --bind=unix:{{ socket_path }}
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec={{ service_timeout }}
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
