[Unit]
Description=IPSize Probe Server Socket

[Socket]
ListenStream={{ socket_path }}
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon will need access to the socket
SocketUser=www-data
# Optionally restrict the socket permissions even more.
SocketMode=600

[Install]
WantedBy=sockets.target
