LOG_DIR={{ log_dir }}
LOG_LEVEL=INFO

SECRET_KEY={{ lookup('community.general.random_string', length=32, special=False) }}

CONTROL_SERVER_URL=https://control.ipsize.de

SERVER_ID=-1
SERVER_SECRET=SetByDeployment

SAVE_DIR={{ save_dir }}
