upstream probe_server {
    server unix:{{ socket_path }};
}

server {
    listen 80;
    server_name {{ inventory_hostname }};

    # ACME requests
    location /.well-known/acme-challenge {
        alias /var/lib/dehydrated/acme-challenges;
    }

    location / {
        root {{ install_dir }}/public;
        index probe.html;
    }
}

server {
    listen 443 ssl;
    server_name {{ inventory_hostname }};

    ssl_certificate     /var/lib/dehydrated/certs/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/{{ inventory_hostname }}/privkey.pem;

    keepalive_timeout 5;
    client_max_body_size 4G;

    # path for static files
    root {{ install_dir }}/public;

    # show landing page for requests to the root path
    location = / {
        index probe.html;
    }

    # for anything else check for static file, if not found proxy to app
    location / {
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        # we don't want nginx trying to do something clever with
        # redirects, we set the Host: header above already.
        proxy_redirect off;
        # set longer read timeout, the probe series pause endpoint blocks until all save files have been written to disk
        proxy_read_timeout 300s;
        proxy_pass http://probe_server;
    }
}
